[Unit]
Description=Clippy clipboard sync
Documentation=https://github.com/gjvanouwendorp/clippy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gjvanouwendorp
WorkingDirectory=/var/www/clippy

Environment=NODE_ENV=production
Environment=PORT=3004

ExecStart=/usr/local/bin/node /var/www/clippy/server.js

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
